
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/1.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px; /* تم تعديل padding ليتوافق مع التصميم */
    background-color: rgba(255, 255, 255, 0.8); /* زيادة الشفافية */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: darkviolet; /* تغير لون الزر عند المرور فوقه */
}

.form-container p {
    margin-top: 10px;
    font-size: 0.875rem;
}

.form-container a {
    color: #007bff;
    text-decoration: none;
}